:root{
  font-family: "Poppins", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: #fff;
  color: #000000;

}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  width: auto;
  height: auto;
}
ul{
  list-style: none;
}
